/* Styling for booking form */
#booking_page {
  position: relative;
  display: none;
  background-color: #fffffe;
  width: 30vw;
  height: 20vh;
  column-gap: 5vw;
  row-gap: 2vw;
  border-radius: 1vw;
  padding: 4vh 3vw;
  margin: 35vh auto;
}

/* Input boxes */
#booking_page > .input_box {
  width: 50%;
  font-size: 0.7vw;
  height: 7.5%;
  padding: 0 1vw;
  margin: 0.5vh 0 2vh 0;
  display: inline-block;
  border: 0.1vw solid #a7a9be;
}

/* Input field for calender box */
.booking_date {
  border: none;
  box-sizing: border-box;
  outline: 0;
  padding: 0.75rem;
  position: relative;
  width: 100%;
}

/* Submit button */
.booking_submit {
  cursor: pointer;
  color: #fffffe;
  margin-top: 5%;
  background-color: #0f0e17;
  border: solid 0.1vw #0f0e17;
  padding: 1vh 1vw;
  transition: all 0.1s;
}
