::before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.carousel {
  width: 80vw;
  height: 80vh;
  position: relative;
  margin: auto;
}

.images {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: zoom-in;
}

.prev-animation {
  animation: prev-animation 1s;
}

.next-animation {
  animation: next-animation 1s;
}
.carousel-button {
  position: absolute;
  background: none;
  border: none;
  font-size: 3rem;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
  background-color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  transition-property: color, background-color;
  transition-duration: 0.25s;
}

.carousel-button:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  outline: solid white 0.1rem;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}
