::-webkit-scrollbar {
  width: 0px; /* make scrollbar dimensions 0 for both horizonal and vertical */
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

* {
  /* Stop default margins and padding eg, body default padding of 8px */
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-y: scroll; /* overflow is to keep the function of scrolling while hiding the scrollbar */
  overflow-x: hidden; /* stop users from scrolling horizonally */
  overscroll-behavior: none; /* Prevents mobile users from pushing outside of the website's boundary */
  scroll-behavior: smooth; /* Creates smooth scrolling effect when clicking button */
  opacity: 1;
}

/* Creates a parallax effect where the background doesn't move with the div */
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

#navbar {
  position: fixed;
  z-index: 100;
  background-color: rgba(54, 156, 206, 0.2);
  backdrop-filter: blur(0.5vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.25s;
  &--scrolled {
    height: 1vh;
  }
}

/* Button styling for the navbar */
.navigation_button {
  cursor: pointer;
  background: rgb(248, 252, 253);
  color: rgb(0, 0, 0);
  font-size: 1.5rem; /* Works based on default font size,so 1.5 times default font size */
  padding: 1vw;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  margin: 1vw;
  opacity: 1;
  box-shadow: 0px 0.25vh 0px #d3e9f4;
  transition: box-shadow 0.25s, transform 0.25s, background-color 0.25s;
}

/* Moves the navigation button upwards and increases the shadow's height, creating a 3d button effect */
.navigation_button:hover {
  transform: translateY(-0.25vh);
  box-shadow: 0px 0.5vh 0px #d3e9f4;
}

/* Moves the navigation button downwards when clicked and erases shadow, making it look like you pushed the button */
.navigation_button:active {
  transform: translateY(0.1vh);
  box-shadow: none;
}

.about-us {
  /* To align the div in the centre */
  text-align: center;
  margin: auto;
  width: 50%;
  /* Creates a frosted glass effect */
  background-color: rgba(145, 200, 228, 0.7);

  box-shadow: inset 0 0 5vw rgba(255, 255, 255, 1);
  backdrop-filter: blur(0.5vh);
  padding: 1vh 0vw;
}

/* Creates space bewteen title and text, adds extra padding to div overall to make it seem more centered */
.about-us-para {
  margin-top: 2.5%;
  padding: 1vh 1vw;
}

/* text box styling, aligns text to the center, take up as much space as possible and rounded borders */

.panel {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: solid black 0.2vw;
  background-color: transparent;
  background-color: #f8fcfd;
  width: 80vw;
  height: 75vh;
  margin: 10vh auto;
  position: relative;
  box-shadow: -0.25vw 0.25vw 0.5vw rgb(0, 0, 0, 0.25);
}

.text-box {
  text-align: center;
  padding: 2.5% 0 2.5% 5%;
  width: 100%;
  flex: 1;
  border-radius: 5vh;
  box-sizing: border-box;
  transition: all 1s;
}

.text-box > h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.text-box > ul {
  font-size: 1.5rem;
  text-align: left;
}

/* Creates spacing between each bullet point */

.text-box > ul > li {
  margin-top: 2.5%;
}

.image-container {
  width: 0%;
  position: relative;
  display: flex;
  background-color: black;
  flex-direction: row;
  overflow: auto;
  object-fit: contain;
  content-visibility: auto;
  transition: all 1s;
  background-color: #91c8e4;
}

.image-container:hover {
  cursor: pointer;
}

.img_expand {
  width: 1.5rem; /* Makes Arrows break line instead of expanding div*/
  background-color: #91c8e4;
  height: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 0.25rem;
}

.img_expand:hover {
  cursor: pointer;
}

.text-box-hide {
  transform: translateX(-10vw);
  opacity: 0;
  width: 0;
  padding: 0;
  height: 0;
  overflow: hidden;
}

.image-container-expand {
  width: 100vw;
  background-color: #f8fcfd;
}

.image-container::-webkit-scrollbar {
  height: 1.5vh;
  background-color: black;
}

.image-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.image-container::-webkit-scrollbar-thumb {
  height: 1.5vh;
  border-radius: 1vh;
  background-color: inherit;
  transition: all 1s;
}

.image-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #91c8e4;
}

.image-container::-webkit-scrollbar:vertical {
  display: none;
}

.image2 {
  object-fit: contain;
  z-index: 10;
  height: 100%;
  cursor: zoom-in;
}

#gallery {
  text-align: center;
  margin-top: 15vh;
}

#gallery > h2 {
  font-size: 5vh;
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

#imgcontainer {
  padding-top: 5vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  content-visibility: auto;
  overflow-x: scroll;
}

#imgcontainer::-webkit-scrollbar {
  height: 1.5vh;
  background-color: grey;
}

#imgcontainer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

#imgcontainer::-webkit-scrollbar-thumb {
  height: 1.5vh;
  border-radius: 1vh;
  background-color: inherit;
  transition: all 1s;
}

#imgcontainer::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #91c8e4;
}

#imgcontainer::-webkit-scrollbar:vertical {
  display: none;
}

#imgcontainer > .image {
  height: 75vh;
  border: solid black 0.5vw;
  object-fit: contain;
  margin-left: 1vw;
}

#imgcontainer > .image:hover {
  cursor: zoom-in;
}

#fullpage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
  overflow: hidden;
}

#fullpage:hover {
  cursor: zoom-out;
}
