::-webkit-scrollbar {
  width: 0px; /* make scrollbar dimensions 0 for both horizonal and vertical */
  height: 0px;
  background: transparent; /* make scrollbar transparent */
}

element {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

* {
  /* Stop default margins and padding eg, body default padding of 8px */
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-y: scroll; /* overflow is to keep the function of scrolling while hiding the scrollbar */
  overflow-x: hidden; /* stop users from scrolling horizonally */
  overscroll-behavior: none; /* Prevents mobile users from pushing outside of the website's boundary */
  opacity: 1;
}

/* Creates a parallax effect where the background doesn't move with the div */
.parallax {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

#navbar {
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.5vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  transition: ease 0.25s;
  &--scrolled {
    height: 1vh;
  }
}
/* Button styling for the navbar */
.navigation_button {
  cursor: pointer;
  background: #f9f9f9;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 0.5rem;
  margin: 1rem;
  opacity: 1;
  box-shadow: 0px 0.25vh 0px #b9b9b9;
  transition: box-shadow 0.25s, transform 0.25s, background-color 0.25s;
}

/* Moves the navigation button upwards and increases the shadow's height, creating a 3d button effect */
.navigation_button:hover {
  transform: translateY(-0.25vh);
  box-shadow: 0px 0.5vh 0px #b9b9b9;
}

/* Moves the navigation button downwards when clicked and erases shadow, making it look like you pushed the button */
.navigation_button:active {
  transform: translateY(0.1vh);
  box-shadow: none;
}

.about-us {
  /* To align the div in the centre */
  text-align: center;
  margin: auto;
  width: 50%;
  /* Creates a frosted glass effect */
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 0 100vw rgba(255, 255, 255, 1);
  backdrop-filter: blur(0.5vh);
  padding: 1vh 0vw;
}

/* Creates space bewteen title and text, adds extra padding to div overall to make it seem more centered */
.about-us-para {
  margin-top: 2.5%;
  padding: 1vh 1vw;
}

/* text box styling, aligns text to the center, take up as much space as possible and rounded borders */
.text-box {
  text-align: center;
  padding: 2.5% 5%;
  max-width: 100%;
  height: 50%;
  border-radius: 5vh;
  box-sizing: border-box;
}

.text-box > h2 {
  font-size: 2rem;
  text-decoration: underline;
}

.text-box > ul {
  font-size: 1.5rem;
  text-align: left;
}

/* Creates spacing between each bullet point */

.text-box > ul > li {
  margin-top: 2.5%;
}

.panel {
  border-radius: 5vh;
  overflow: hidden;
  border: solid black 0.2vw;
  background-color: #91c8e4;
  width: 80vw;
  height: 85vh;
  margin: 10vh auto;
  opacity: 0;
  will-change: transform;
}

.image-container {
  height: 50%;
  display: flex;
  gap: 1vw;
  background-color: black;
  flex-direction: row;
  overflow: auto;
  object-fit: contain;
  content-visibility: auto;
}

.image-container::-webkit-scrollbar {
  height: 1.2vh;
  background-color: gray;
}

.image-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0px rgba(0, 0, 0, 0);
}

.image-container::-webkit-scrollbar-thumb {
  height: 1.2vh;
  border-radius: 1.2vh;
  background-color: #d5ac68;
}

.image-container::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-color: #f1db9d;
}

.image-container::-webkit-scrollbar:vertical {
  display: none;
}

.image2 {
  object-fit: contain;
  z-index: 10;
  height: 100%;
  cursor: pointer;
}

#gallery {
  text-align: center;
  margin-top: 15vh;
}

#gallery > h2 {
  font-size: 5vh;
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

#imgcontainer {
  padding-top: 5vh;
  height: 100vh;
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 1vw;
  content-visibility: auto;
  overflow-x: auto;
}

#imgcontainer > .image {
  height: 75vh;
  border: solid black 0.5vw;
  object-fit: contain;
}

#imgcontainer > .image:hover {
  cursor: pointer;
}

#fullpage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: black;
}

#fullpage:hover {
  cursor: zoom-out;
}
